.container {
  place-items: center;
  max-width: 327px;
  margin-inline: auto;
}

.game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 9.12px;
  margin-top: 80px;
  margin-bottom: 102.12px;
}

.game-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #304859;
  width: 46.88px;
  height: 46.88px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: #FCFCFC;
  color: transparent;
  padding: 6.34px 13.27px 6.19px;
  border-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
}

.game-item:hover {
  background-color: #6395B8;
}

.game-item-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: none;
  pointer-events: none;
  cursor: pointer;
  user-select: none;
  padding: 6.34px 13.27px 6.19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  width: 46.88px;
  height: 46.88px;
  color: #FCFCFC;
  background-color: #BCCED9;
}

.game-item-same {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  padding: 6.34px 13.27px 6.19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  width: 46.88px;
  height: 46.88px;
  color: white;
  user-select: none;
  background-color: #FDA214;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 327px;
  margin-inline: auto;
  margin-top: 24px;
}

.header h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  color: #152938;
}

.menuBtn {
  padding: 10px 18.5px;
  border-radius: 26px;
  background-color: #FDA214;
  border-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  color: #FCFCFC;
  cursor: pointer;
}

.menuBtn:hover {
  background-color: #FFB84A;
}

.btn-area {
  display: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  max-width: 327px;
  margin-inline: auto;
  margin-bottom: 24px;
}

.time, .moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 151px;
  gap: 2px;
  background-color: #DFE7EC;
  border-radius: 5px;
  padding: 10px 31px 9px 33px;

  h2 {
    font-size: 15px;
    font-weight: 700;
    line-height: 18.6px;
    color: #7191A5;
  }

  span {
    color: #304859;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.76px;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 90%;
  max-width: 327px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-restart, .modal-new-game, .modal-resume-game {
  border-radius: 26px;
  background-color: #FDA214;
  color: #FCFCFC;
  padding-block: 13px;
  border-style: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 22.32px;
  cursor: pointer;
}

.modal-new-game, .modal-resume-game {
  background-color: #DFE7EC;
  color: #304859;
}

.footer h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 59.42px;
  color: #152938;
  text-align: center;
  margin-block: 30px;
}


@media (width >= 768px) {

  .container {
    max-width: 689px;
  }

  .game {
    gap: 16px;
    margin-top: 121px;
    margin-bottom: 122px;
  }
  
  .game-item {
    width: 82px;
    height: 82px;
    padding: 9px 15px 13px 15px;
    font-size: 44px;
    line-height: 54.56px;
  }
  
  .header {
    max-width: 689px;
    margin-top: 37px;
  }
  
  .header h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.6px;
  }
  
  .menuBtn {
    display: none;
  }

  .btn-area {
    display: flex;
    gap: 16px;
  }

  .restartBtn {
    padding: 14px 28px;
    border-radius: 26px;
    background-color: #FDA214;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.28px;
    color: #FCFCFC;
    cursor: pointer;
  }

  .restartBtn:hover {
    background-color: #FFB84A;
  }

  .newGame {
    padding: 14px 24px;
    border-radius: 26px;
    background-color: #DFE7EC;
    border-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.28px;
    color: #304859;
    cursor: pointer;
  }

  .newGame:hover {
    color: #FCFCFC;
    background-color: #6395B8;
  }

  .footer-content {
    gap: 30px;
    max-width: 540px;
    margin-inline: auto;
    margin-bottom: 48px;
  }
  
  .time, .moves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    border-radius: 10px;
    padding: 25px 21px;
  
    h2 {
      font-size: 18px;
      line-height: 22.32px;
    }
  
    span {
      font-size: 32px;
      line-height: 39.68px;
    }
  }
}

@media (width >= 1280px) {

  .container {
    max-width: 1110px;
  }

  .game {
    margin-top: 85px;
    margin-bottom: 106px;
  }
  
  .header {
    max-width: 1110px;
    margin-top: 67px;
  }

  .footer-content {
    margin-bottom: 70px;
  }

}